<div class="container">

    <div class="row h-100">
        <div class="col-3 my-auto landing-links">
            <a href="">
                <i class="fa fa-3x fa-school"></i>
                <h1>Education</h1>
            </a>
        </div>
        <div class="col-3 my-auto landing-links">
            <a href="">
                <i class="fa fa-3x fa-code"></i>
                <h1>Tech</h1>
            </a>
        </div>
        <div class="col-3 my-auto landing-links">
            <a href="">
                <i class="fa fa-3x fa-briefcase"></i>
                <h1>Work</h1>
            </a>
        </div>
        <div class="col-3 my-auto landing-links">
            <a href="">
                <i class="fa fa-3x fa-comment-dots"></i>
                <h1>Contact me</h1>
            </a>
        </div>
    </div>

</div>