.main-title {
    font-family: 'Poppins', sans-serif;
}

.subtitle {
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    color: #6e6e6e;
}

form {
    font-family: 'Poppins', sans-serif;
}

form input,
textarea {
    font-weight: 100;
}

span {
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    font-size: 1rem;
    margin-left: 10px;
}

@media(max-width: 768px) {
    .contact-info {
        display: flex;
        justify-content: center;
    }
    .linkedin-redirect {
        display: flex;
        justify-content: center;
    }
    form {
        margin-top: 20px;
    }
}