<h1 class="main-title">CONTÁCTAME</h1>
<p class="subtitle">Puedes ponerte en contacto conmigo a través de LinkedIn o rellenando el siguiente formulario:</p>
<br>

<div class="row">
    <div *ngIf="personalInfo" class="col-md-4">
        <div class="contact-info">
            <table>
                <tr>
                    <td class="contact-icon"><i class="mb-3 fa fa-2x fa-user-alt"></i></td>
                    <td><span>{{ personalInfo.name }} {{ personalInfo.firstSurname }} {{ personalInfo.secondSurname }}</span></td>
                </tr>
                <tr>
                    <td class="contact-icon"><i class="mb-3 fa fa-2x fa-tv"></i></td>
                    <td><span>{{ personalInfo.profession }}</span></td>
                </tr>
                <tr>
                    <td class="contact-icon"><i class="mb-3 fa fa-2x fa-city"></i></td>
                    <td><span>{{ personalInfo.city }}, {{ personalInfo.province }}</span></td>
                </tr>
                <tr>
                    <td class="contact-icon"><i class="mb-3 fa fa-2x fa-envelope"></i></td>
                    <td><span>{{ personalInfo.email }}</span></td>
                </tr>
                <tr>
                    <td class="contact-icon"><i class="mb-3 fa fa-2x fa-phone"></i></td>
                    <td><span>+{{ personalInfo.phonePrefix }} {{ personalInfo.phone }}</span></td>
                </tr>
            </table>
        </div>

        <div class="social-media d-flex">
            <a href="{{ personalInfo.linkedin }}" target="_blank"><i class="mt-4 fab fa-2x fa-linkedin"></i></a>
            <a class="ml-2" href="{{ personalInfo.github }}" target="_blank"><i class="mt-4 fab fa-2x fa-github-square"></i></a>
        </div>

    </div>

    <div class="col-md-8">
        <form [formGroup]="form" (ngSubmit)="sendMessage()">
            <div class=" form-group">
                <label class="col-form-label">Tu nombre</label>
                <input type="text" class="form-control" formControlName="name" [class.is-invalid]="validateField('name')">
                <small class="text-danger" *ngIf="validateField('name')">Este campo es obligatorio</small>
            </div>
            <div class="form-group ">
                <label class="col-form-label">Email</label>
                <input type="email" class="form-control" formControlName="email" [class.is-invalid]="validateField('email')">
                <small class="text-danger" *ngIf="validateField('email')">Por favor, introduce un email válido</small>
            </div>
            <div class="form-group ">
                <label class="col-form-label">Mensaje</label>
                <textarea class="form-control" rows="4" formControlName="message" [class.is-invalid]="validateField('message')"></textarea>
                <small class="text-danger" *ngIf="validateField('message')">Este campo es obligatorio</small>
            </div>

            <button type="submit" class="btn btn-outline-primary btn-block" [disabled]="!form.valid">ENVIAR</button>
        </form>
    </div>
</div>