<h1 class="main-title">CONTÁCTAME</h1>
<p class="subtitle">Puedes ponerte en contacto conmigo a través de LinkedIn o rellenando el siguiente formulario:</p>
<br>

<div class="row">
    <div class="col-md-4">
        <div class="contact-info">
            <table>
                <tr>
                    <td><i class="mb-3 fa fa-2x fa-user-alt"></i></td>
                    <td><span>Carlos González Espejo</span></td>
                </tr>
                <tr>
                    <td><i class="mb-3 fa fa-2x fa-tv"></i></td>
                    <td><span>Software developer</span></td>
                </tr>
                <tr>
                    <td><i class="mb-3 fa fa-2x fa-city"></i></td>
                    <td><span>Terrassa, Barcelona</span></td>
                </tr>
                <tr>
                    <td><i class="mb-3 fa fa-2x fa-envelope"></i></td>
                    <td><span>carlosglzespejo@gmail.com</span></td>
                </tr>
                <tr>
                    <td><i class="mb-3 fa fa-2x fa-phone"></i></td>
                    <td><span>+34 663 47 09 57</span></td>
                </tr>
            </table>
        </div>

        <a class="linkedin-redirect" href="https://www.linkedin.com/in/carlosgonzalezespejo/" target="_blank"><i class="mt-4 fab fa-2x fa-linkedin"></i></a>
    </div>

    <div class="col-md-8">
        <form>
            <div class="form-group">
                <label class="col-form-label">Tu nombre</label>
                <input type="text" class="form-control">
            </div>
            <div class="form-group">
                <label class="col-form-label">Email</label>
                <input type="email" class="form-control">
            </div>
            <div class="form-group">
                <label class="col-form-label">Mensaje</label>
                <textarea class="form-control" rows="4"></textarea>
            </div>

            <button type="submit" class="btn btn-outline-primary btn-block">ENVIAR</button>
        </form>
    </div>
</div>