<!-- <div class="sidebar-navigation hidden-sm hidden-xs">
    <div class="logo">
        <a href="#">Sen<em>tra</em></a>
    </div>
    <nav>
        <ul>
            <li>
                <a href="#top">
                    <span class="rect"></span>
                    <span class="circle"></span> Home
                </a>
            </li>
            <li>
                <a href="#featured">
                    <span class="rect"></span>
                    <span class="circle"></span> Projects
                </a>
            </li>
            <li>
                <a href="#projects">
                    <span class="rect"></span>
                    <span class="circle"></span> Career
                </a>
            </li>
            <li>
                <a href="#video">
                    <span class="rect"></span>
                    <span class="circle"></span> Skills
                </a>
            </li>
            <li>
                <a href="#blog">
                    <span class="rect"></span>
                    <span class="circle"></span> Contact
                </a>
            </li>
            <li>
                <a href="#contact">
                    <span class="rect"></span>
                    <span class="circle"></span> Contact Us
                </a>
            </li>
        </ul>
    </nav>
    <ul class="social-icons">
        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
        <li><a href="#"><i class="fa fa-rss"></i></a></li>
        <li><a href="#"><i class="fa fa-behance"></i></a></li>
    </ul>

</div> -->
<nav class="navbar navbar-expand-lg sticky-top navbar-light bg-white mt-5 p-3">
    <a class="navbar-brand" href="#">
        <img src="assets/images/logo.png" class="d-inline-block align-top" width="250" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="nav navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">INICIO</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="projects" routerLinkActive="active">PROYECTOS</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownCareer" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">TRAYECTORIA</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownCareer">
                    <a class="dropdown-item" href="#">EXPERIENCIA</a>
                    <a class="dropdown-item" href="#">EDUCACIÓN</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">HABILIDADES</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownResume" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  CV
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownResume">
                    <a class="dropdown-item" href="#">Descargar PDF</a>
                    <a class="dropdown-item" href="#">Ver en el navegador</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">CONTÁCTAME</a>
            </li>
        </ul>
    </div>
</nav>