h1,
p {
    font-family: 'Poppins', sans-serif;
}

.subtitle {
    font-weight: 100;
    color: #6e6e6e;
}

.project-title {
    font-weight: 500;
    font-size: 1.3rem;
    margin-top: 10px;
}

.project-company {
    font-weight: 100;
    font-size: 1.1rem;
    margin-top: -10px;
}

.bean {
    background-color: black;
    color: white;
    display: list-item;
    text-align: center;
    padding: 5px;
    border-radius: 20px;
}

.bean-row {
    column-count: 3;
    justify-content: center;
}

hr {
    background-color: grey;
}