<h1 class="mt-5 main-title">ÚLTIMOS PROYECTOS</h1>
<p class="subtitle">Estos son algunos de mis últimos trabajos:</p>
<br>

<owl-carousel-o *ngIf="projectsList.length > 0" [options]="owlCarouselOptions">
    <ng-container *ngFor="let project of projectsList">
        <ng-template carouselSlide>
            <img class="img-thumbnail" src="{{ project.mainImage }}" alt="">
            <div class="row">
                <div class="col-12 text-center">

                    <p class="project-title"><a href="{{ project.link }}" target="_blank">{{ project.title }} <i class="fas fa-external-link-alt"></i></a></p>
                    <p class="project-company">{{ project.company }}</p>
                    <hr>
                    <p class="project-description">{{ project.description }}</p>

                    <table>
                        <tr></tr>
                    </table>

                    <div class="row bean-row">
                        <div *ngFor="let bean of project.stack" class="col-lg-6 col-md-6">
                            <p class="bean">{{ bean }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </ng-container>
</owl-carousel-o>
<br>