<h1 class="main-title">HABILIDADES</h1>
<p class="subtitle">Listado de tecnologías y herramientas con las que he trabajado:</p>
<br>

<div class="mb-5" id="skills-languages">
    <h2><span>Lenguajes</span></h2>
    <div class="image-grid-container">
        <img *ngFor="let skill of languages" src="{{ skill.imageUrl }}" class="img-thumbnail" alt="{{ skill.title }}">
    </div>
</div>

<div class="mb-5" id="skills-frameworks">
    <h2><span>Frameworks</span></h2>
    <div class="image-grid-container">
        <img *ngFor="let skill of frameworks" src="{{ skill.imageUrl }}" class="img-thumbnail" alt="{{ skill.title }}">
    </div>
</div>

<div class="mb-5" id="skills-tools">
    <h2><span>Herramientas</span></h2>
    <div class="image-grid-container">
        <img *ngFor="let skill of tools" src="{{ skill.imageUrl }}" class="img-thumbnail" alt="{{ skill.title }}">
    </div>
</div>

<div class="mb-5" id="skills-ide">
    <h2><span>IDEs</span></h2>
    <div class="image-grid-container">
        <img *ngFor="let skill of ide" src="{{ skill.imageUrl }}" class="img-thumbnail" alt="{{ skill.title }}">
    </div>
</div>